<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PLOGGING</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- 화면 캡쳐 CDN -->
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <link rel="shortcut icon" href="http://localhost/images/ecology.png">
</head>

<!-- 지도 스타일 -->
<style>
    /* #actname {
        width: 355px;
    } */

    .active_content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: center;
    }

    .time {
        display: flex;
        justify-content: center;
    }

    .stopwatch {
        border: 5px solid gainsboro;
        padding: 20px;
        border-radius: 10px;
    }
</style>

<body>
    <head th:replace="common/head"></head>
    <br>
    <br>


    <div id="maptest" th:replace="maptest"></div>

    <div style="display: flex; justify-content: center;">
        <div style="display: flex; flex-direction: column;">
            <p>사용 설명서 : 지도 위에 좌클릭으로 경로를 남길 수 있습니다. </p>
            <p>좌클릭을 반복하여 경로를 이어갈 수 있고, 우클릭으로 경로표시를 종료합니다</p>
            <p style="font-weight: bold; color: red;">경로를 표시중 잘못 클릭하신 경우 반드시 새로고침을 해주세요!</p>
        </div>
    </div>
    <br>


    <div class="active_content">
        <div class="stopwatch">
            <div class="time">
                <input id="time" th:value="${act.actTime}">
            </div>
            <div>
                <!-- <ul id="testRecordList"></ul> -->
                <!--중간 기록할 리스트-->
            </div>
            <br>
            <!-- <div>
                <button type="button" id="testStartBtn"
                    class="btn btn-success">START</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               
                <button type="button" id="testStopBtn" class="btn btn-danger">STOP</button>
           
            </div> -->
        </div><br><br>

        <div class="memo">
            <div>
                <b style="display: block;">활동 이름</b>
                <textarea id="actname" cols="40" rows="1" style="resize: none;" th:text="${act.actName}"></textarea>
            </div>

            <div>
                <b style="display: block;">활동 메모</b>
                <textarea id="actmemo" cols="40" rows="5" style="resize: none;" th:text="${act.actMemo}"></textarea>
            </div>
        </div>
        <br>
        <br>

        <div>
            <input type="file" name="photo" id="photos" multiple style="display: inline-block; width: 250px;" />
            <!-- id속성에 timedb 값을 설정  -->
            <button type="submit" id="timedb" class="btn">수정하기</button>
        </div>

        <br><br>

        <!-- <button type="button" id="camera" onclick="location.href='camera'">카메라</button> -->

    </div>
    </div>
    <!-- 스톱워치 스크립트 -->
    <!-- <script>
        var stTime = 0
        var endTime = 0
        var timerStart
        var hour
        var min
        var sec
        var milisec
        var startBtn = document.getElementById('testStartBtn')
        var stopBtn = document.getElementById('testStopBtn')
        var recordList = document.getElementById('testRecordList')
        startBtn.addEventListener('click', function () {
            // RECORD
            if (this.innerText == '[기록중]' && milisec) {
                console.log(min, sec, milisec)
                var li = document.createElement('li')
                li.style.color = "#fff"
                li.innerText = hour + ' : ' + min + ' : ' + sec + ' : ' + milisec
                if (!recordList.firstChild) {
                    recordList.append(li)
                } else {
                    recordList.insertBefore(li, recordList.firstChild)
                }
                return false
            }
            this.innerText = '[기록중]'

            if (!stTime) {
                stTime = Date.now() // 최초 START 
            } else {
                stopBtn.innerText = 'STOP'
                stTime += (Date.now() - endTime)	// RESTART   
            }
            timerStart = setInterval(function () {
                var nowTime = new Date(Date.now() - stTime)
                hour = addZero(nowTime.getHours() - 9)
                min = addZero(nowTime.getMinutes())
                sec = addZero(nowTime.getSeconds())
                milisec = addZero(Math.floor(nowTime.getMilliseconds() / 10))
                document.getElementById('postTestHour').innerText = hour
                document.getElementById('postTestMin').innerText = min
                document.getElementById('postTestSec').innerText = sec
                document.getElementById('postTestMilisec').innerText = milisec
            }, 1)
        })

        stopBtn.addEventListener('click', function () {
            if (timerStart) {
                clearInterval(timerStart)	// STOP  
                if (this.innerText == 'STOP') {
                    endTime = Date.now()
                    this.innerText = 'RESET'
                    startBtn.innerText = 'RESTART'
                } else {	// RESET       
                    stTime = 0
                    hour = 0
                    min = 0
                    sec = 0
                    milisec = 0
                    document.getElementById('postTestHour').innerText = '00'
                    document.getElementById('postTestMin').innerText = '00'
                    document.getElementById('postTestSec').innerText = '00'
                    document.getElementById('postTestMilisec').innerText = '00'
                    startBtn.innerText = 'START'
                    this.innerText = 'STOP'
                    timerStart = null
                    recordList.innerHTML = ''
                }
            }
        })
        function addZero(num) {
            return (num < 10 ? '0' + num : '' + num)
        }

    </script> -->



    <!-- DB저장버튼 스크립트 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const a = document.getElementById("timedb");
        a.addEventListener("click", () => {

            // 주석 필요!!
            const actid = '[[${param.actid}]]'
            const time = document.getElementById("time").value;
            const distance = document.getElementById("dist").innerText;
            const actname = document.getElementById("actname").value;
            const actmemo = document.getElementById("actmemo").value;
            const latlng = JSON.stringify(mhlatlng);
            console.log(latlng);

            // for(let i=0;i<dots.length;i++ ){
            //  var abcd = JSON.stringify(dots[i].circle.n);
            //     console.log(abcd);
            // }

            //선택한 값을 폼데이터 라는 형식으로 담음
            const formData = new FormData();
            formData.append('time', time);
            formData.append('dist', distance);
            formData.append('actname', actname);
            formData.append('actmemo', actmemo);
            formData.append('latlng', latlng);
            formData.append('actid', actid);

            const photos = document.getElementById("photos");
            for (const file of photos.files) {
                formData.append('photos', file);
            }

            const data = axios({
                url: 'actupdate',
                method: 'post',
                data: formData,
                headers: { 'Content-type': 'multipart/form-data' }
            })
                .then(function (result) {
                    console.log(result);
                    if (result.data == 'ok') {
                        alert("활동이 수정되었습니다.")
                    }
                    window.location.href = "/mypage_new"
                })
                .catch(function (error) {
                    alert("활동 수정이 정상적으로 되지 않았습니다.")
                    console.log(error.message);
                });
        });

    </script>

</body>

</html>