<!DOCTYPE html>
<html lang="ko">

<div th:replace="common/head"></div>

<style>
    #abcd {
        border: 3px solid;
    }
</style>

<body>
    <br><br><br>

    <h1 style="text-align: center">관리자 페이지</h1>
    <hr>
    <div style="display: flex; justify-content: center;">
        <div style="width: 70%; display: flex; justify-content: space-around;">
            <button id="aaa">안녕 난 <b>[유저]</b> 전체를 부르는 버튼이야</button>
            <button id="bbb">안녕 난 <b>[플로깅활동]</b> 전체를 부르는 버튼이야</button>
            <button id="ccc">안녕 난 <b>[댓글]</b> 전체를 부르는 버튼이야</button>
        </div>
    </div>
    <br><br>
    <div style="display: flex; justify-content: center;">
        <div id="v"></div>
        <!-- <div id="vv"></div> -->
    </div>
    <script src="http://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        const userBtn = document.getElementById(aaa);
        aaa.addEventListener("click", () => {

            const data = axios({
                url: 'adminUser',
                method: 'get',
            });
            data.then((res) => {
                console.log(res);
                const userdata = res;

                let usercode = "<table id='abcd' border=1px;>";
                usercode += "<tr><th>이메일</th><th>닉네임</th><th>삭제</th></tr>"
                const userlist = userdata.data;
                console.log(userlist);
                for (let key in userlist) {
                    const abc = userlist[key];
                    const email = abc.email;
                    const nickname = abc.nickname;
                    const userid = abc.id;
                    // const desc = abc.description;
                    // const publishedAt = abc.pubDate;
                    usercode += `<tr>`
                    usercode += `<td>${email}</td>`;
                    usercode += `<td>${nickname}</td>`;
                    usercode += `<td><a href="#"><img src="http://localhost/images/ecology.png" width=20px;></a></td>`;
                    usercode += `</tr>`;
                }
                usercode += "</table>"
                document.getElementById("v").innerHTML = usercode;
            })
        });
    </script>
    <script>
        const activityBtn = document.getElementById(bbb);
        bbb.addEventListener("click", () => {

            const data = axios({
                url: 'adminActivity',
                method: 'get',
            });
            data.then((res) => {
                console.log(res);
                const activitydata = res;

                let activitycode = "<table id='defg' border=5px;>";
                    activitycode += "<tr><th>작성날짜</th><th>플로깅이름</th><th>플로깅거리</th><th>플로깅시간</th><th>플로깅메모</th><th>공개여부</th><th>삭제</th></tr>"
                const activitylist = activitydata.data;
                console.log(activitylist);
                for (let key in activitylist) {
                    const def = activitylist[key];
                    const createDate = def.createDate;
                    const actName = def.actName;
                    const actDistance = def.actDistance;
                    const actTime = def.actTime;
                    const actMemo = def.actMemo;
                    const visibility = def.visibility;
                    activitycode += `<tr>`
                    activitycode += `<td>${createDate}</td>`;
                    activitycode += `<td>${actName}</td>`;
                    activitycode += `<td>${actDistance}</td>`;
                    activitycode += `<td>${actTime}</td>`;
                    activitycode += `<td>${actMemo}</td>`;
                    activitycode += `<td>${visibility}</td>`;
                    activitycode += `<td><a href="#"><button type="button" class="btn btn-danger">삭제</button></a></td>`;
                    activitycode += `</tr>`;
                }
                activitycode += "</table>"
                document.getElementById("v").innerHTML = activitycode;
            })
        });
    </script>
    <script>
        const answerBtn = document.getElementById(ccc);
        ccc.addEventListener("click", () => {

            const data = axios({
                url: 'adminAnswer',
                method: 'get',
            });
            data.then((res) => {
                console.log(res);
                const answerdata = res;

                let answercode = "<table id='ghij' border=5px;>";
                    answercode += "<tr><th>작성날짜</th><th>댓글내용</th><th>삭제</th></tr>"
                const answerlist = answerdata.data;
                console.log(answerlist);
                for (let key in answerlist) {
                    const ghi = answerlist[key];
                    const createDate = ghi.createDate;
                    const content = ghi.content;
                    answercode += `<tr>`
                    answercode += `<td>${createDate}</td>`;
                    answercode += `<td>${content}</td>`;
                    answercode += `<td><a href="#"><button type="button" class="btn btn-danger">삭제</button></a></td>`;
                    answercode += `</tr>`;
                }
                answercode += "</table>"
                document.getElementById("v").innerHTML = answercode;
            })
        });
    </script>
    
</body>


</html>