<!DOCTYPE html>
<body>
    <a href="/index">메인화면으로</a>
    <br>
    <a href="mypage">마이페이지</a>
    <br><br>
    <form action="/deleteaccount" method="post">
        <input type="email" name="email" placeholder="이메일을 입력해주세요">
        <input type="password" name="pwd" placeholder="비밀번호를 입력해주세요">
    <br><br>
    탈퇴시 삭제하고싶은 글이 있다면 선택해주세요.
    <br><br>
    게시글 <input type="checkbox" class="checkbox" name="choice" value="board">
    댓글 <input type="checkbox" class="checkbox" name="choice" value="comment">
    <button type="submit" class="btn-deleteaccount">탈퇴하기</button>
    </form>
    <br><br>
    
    </body>
</body>