<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>PLOGGING</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="shortcut icon" href="http://localhost/images/ecology.png">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand" style="padding-top: 5px;"><img src="images/ecology.png"
            style="width: 40px;"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#services">SERVICE</a></li>
          <li><a href="#campaign">CAMPAIGN</a></li>
          <li><a href="#feed">FEED</a></li>
          <li><a th:href="@{/mypage_new}" th:if="${session.user != null}">MY PAGE</a></li>
          <li><a th:href="@{/signout}" th:if="${session.user != null}"><span class="glyphicon glyphicon-log-in"></span>
              [[${session.user.nickname}]]님 Logout</a></li>
          <li><a th:href="@{/signin}" th:unless="${session.user != null}"><span
                class="glyphicon glyphicon-log-out"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>




  <div class="jumbotron text-center">
    <h1>Plogging</h1>
    <p>We run on the Earth</p>
    <br>
    <form>
      <div class="input-group">
        <div class="input-group-btn">
          <a th:href="@{/activityform}"><button type="button" class="btn btn-default btn-lg">플로깅시작</button></a>
        </div>
      </div>
    </form>
  </div>

  <!-- Container (About Section) -->
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>플로깅(Plogging)이란?</h2><br>
        <h4>‘이삭을 줍는다’는 뜻인 스웨덴어 ‘plocka upp’과 영어 ‘jogging(조깅)’의 합성어로 2016년, 환경보호를 위해 스웨덴에서 처음 시작된 환경보호운동입니다.
          플로깅은 조깅하면서 쓰레기를 줍는 행동으로, 조깅이라는 대중적 운동(exercise)에 환경보호 운동(movement)이 더해진 개인이 자발적으로 실천할 수 있는 환경보호운동을 뜻합니다.

          </p>
          <!-- <br><button class="btn btn-default btn-lg">Get in Touch</button> -->
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo slideanim"></span>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo slideanim"></span>
      </div>
      <div class="col-sm-8">
        <h2>OUR SERVICE IS</h2><br>
        <h4><strong></strong>기록과 공유, 소통에 기반을 둔 'SNS 기능'과 '러닝어플의 기능'을 결합한 서비스입니다. 자신의 운동내용을 지도(현재 위치, 경로 표시)와
          사진, 기록(거리, 시간)으로 저장할 수 있게 하고, 이를 공유할 수 있는 게시판과 댓글 기능을 활용하여 개인 단위의 자발적인 환경보호활동을 장려합니다.</h4><br>
        <p><strong></strong> </p>
      </div>
    </div>
  </div>

  <!-- Container (Services Section) -->
  <div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-off logo-small"></span>
        <h4>경로 기록</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-heart logo-small"></span>
        <h4>SNS</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-lock logo-small"></span>
        <h4>플로깅 관련 뉴스</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
    </div>
    <br><br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-leaf logo-small"></span>
        <h4>환경보호 캠페인</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <h4>스탑워치</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench logo-small"></span>
        <h4 style="color:#303030;">사진기록</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
    </div>
  </div>

  <!-- Container (Portfolio Section) -->
  <div id="campaign" class="container-fluid text-center bg-grey">
    <h2>플로깅 캠페인 안내</h2><br>
    <div class="row text-center slideanim">
      <div class="col-sm-4">
        <div class="thumbnails">
          <img src="images/ansan.png" alt="Ansan">
          <p><strong>Ansan</strong></p>
          <p>Yes, we built Paris</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnails">
          <img src="images/jejooo.jfif" alt="Jejooo">
          <p><strong>Jeju</strong></p>
          <p>We built New York</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnails">
          <img src="images/adong.png" alt="adong">
          <p><strong>adong</strong></p>
          <p>Yes, San Fran is ours</p>
        </div>
      </div>
    </div>
    <br><br><br><br>




    <div class="news">
      <h2>PLOGGING NEWS</h2>
      <!-- <h5>( 출처 : NAVER NEWS )</h5> -->
      <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" id="nvnewslgh">
          <div class="item active">
            <h4>플로깅으로 검색된 최신 뉴스를 전달해드립니다.<br><span>
                <h6>( 출처 : NAVER NEWS )</h6>
              </span></h4>
          </div>
          <!-- <div class="item">
          <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
        </div>
        <div class="item">
          <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
        </div>
        <div class="item">
          <h4>가희님이 프론트를 너무 잘해주셨어요<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
        </div> -->
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div id="nvnews">
    </div>
  </div>




  <div id="feed" class="container-fluid text-center bg-grey">
    <h2>플로깅 피드</h2><br>
    <div class="row text-center slideanim">
      <div class="col-sm-4" th:each="act : ${publist}">
        <div class="thumbnail">
          <img th:src="@{/nawarapic(id=${act.id})}" onerror="this.src='/images/runday2.jpg'" alt="">
          <div class="panel-body">
            <strong>
              <p th:text="${'[ '+act.actName+' ]'}"></p>
            </strong>
            <p th:text="${#dates.format(act.createDate, 'yyyy-MM-dd HH:mm')}"></p>
            <p>총 거리 : <span th:text="${act.actDistance}"></span></p>
            <p>총 시간 : <span th:text="${act.actTime}"></span></p>
            <p>메모 : <span th:text="${act.actMemo}"></span></p>
            <div class="panel-heading">좋아요|댓글
              <a th:href="@{mapline(actid=${act.Id})}">
                <b th:text="경로보기"></b>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Container (Contact Section) -->
    <div id="contact" class="container-fluid bg-grey">
      <h2 class="text-center">CONTACT</h2>
      <div class="row">
        <div class="col-sm-5">
          <p>Contact us and we'll get back to you within 24 hours.</p>
          <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
          <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
          <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
        </div>
        <div class="col-sm-7">
          <form action="/contact" method="post">
            <div class="row">
              <div class="col-sm-6 form-group">
                <input class="form-control" id="name" name="subject" placeholder="Name" type="text" required>
              </div>
              <div class="col-sm-6 form-group">
                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
              </div>
            </div>
            <textarea class="form-control" id="comments" name="content" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
              <div class="col-sm-12 form-group">
                <button class="btn btn-default pull-right" type="submit" id="emailsend">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>





    <footer class="container-fluid text-center">
      <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
      <!-- <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p> -->
    </footer>

    <script>
      $(document).ready(function () {
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function (event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 900, function () {

              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            });
          } // End if
        });

        $(window).scroll(function () {
          $(".slideanim").each(function () {
            var pos = $(this).offset().top;

            var winTop = $(window).scrollTop();
            if (pos < winTop + 600) {
              $(this).addClass("slide");
            }
          });
        });
      })
    </script>

    <script src="http://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

      const data = axios({
        url: 'navernews?query=플로깅',
        method: 'get',
      });
      data.then((res) => {

        console.log(res);

        const newsdata = res;

        // <div class="item active">
        //     <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe,
        //         Vice President, Comment
        //         Box</span></h4>
        //   </div>


        let newscode = "";
        const newslist = newsdata.data.items;
        console.log(newslist);
        for (let key in newslist) {
          const abc = newslist[key];
          const title = abc.title;
          const pubdate = abc.pubDate;
          const link = abc.link;
          // const desc = abc.description;
          // const publishedAt = abc.pubDate;

          newscode += '<div class="item">'
          newscode += `<h4><a href="${link}">${title}</a><br>`;
          newscode += `<span><h5>${pubdate}</h5></span>`;
          newscode += '</h4>'
          newscode += '</div>';
        }

        document.getElementById("nvnewslgh").innerHTML += newscode;

      })


    </script>



</body>

</html>