<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>



    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/index">Logo</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/index#about">ABOUT</a></li>
              <li><a href="/index#services">SERVICE</a></li>
              <li><a href="/index#campaign">CAMPAIGN</a></li>
              <!-- <li><a href="#pricing">PRICING</a></li> -->
              <!-- <li><a href="/activityform">MAP</a></li> -->
              <li><a class="#mypage" href="/mypage">MY PAGE</a></li>
              <li><a th:href="@{/signout}" th:if="${session.user != null}"><span class="glyphicon glyphicon-log-in"></span> [[${session.user.nickname}]]님 Logout</a></li>
              <li><a th:href="@{/signin}" th:unless="${session.user != null}"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav>




    


    <!-- thymeleaf 문법 -->
    <h2>나의 플로깅 기록</h2>
    <table border="1">
        <tr>
            <th>활동 이름</th>
            <th>활동한 시간</th>
            <th>총 거리</th>
            <th>활동 메모</th>
            <th>기록 일자</th>
            <th>공개 설정</th>
        </tr>
        <tr th:each="act : ${list}">
            <td th:text="${act.actName}"></td>
            <td th:text="${act.actTime}"></td>
            <td th:text="${act.actDistance}"></td>
            <td th:text="${act.actMemo}"></td>
            <td th:text="${act.createDate}"></td>
            <td th:if="${act.visibility == 0}"> <a th:href="@{/visibility(id=${act.id})}" th:text="비공개"></a></td>
            <td th:unless="${act.visibility == 0}"> <a th:href="@{/visibility(id=${act.id})}" th:text="공개"></a></td>
  
        </tr>
    </table>

    <br><br>

    
    <!-- <a href="deleteaccount">탈퇴하기</a> -->
    
    <button type="button" class="btn btn-default btn-lg" onclick="location.href='user_info/update'">회원정보수정</button>
    
    <button type="button" class="btn btn-warning btn-lg" onclick="location.href='deleteaccount'">탈퇴하기</button>


</body>
</html>