<!DOCTYPE html>
<body>

    <button>정보수정</button>
    <a href="deleteaccount">탈퇴하기</a>



    <h2>나의 플로깅 기록</h2>
    <table border="1">
        <tr>
            <th>활동 이름</th>
            <th>활동한 시간</th>
            <th>총 거리</th>
            <th>기록 일자</th>
            <th>공개 설정</th>
        </tr>
        <tr th:each="act : ${list}">
            <td th:text="${act.actName}"></td>
            <td th:text="${act.actTime}"></td>
            <td th:text="${act.actDistance}"></td>
            <td th:text="${act.createDate}"></td>
            <td th:if="${act.visibility == 0}"><a th:href="@{/changevisibility(actid=${act.id})}" th:text="비공개"></a></td>
            <td th:unless="${act.visibility == 0}"><a th:href="@{/changevisibility(actid=${act.id})}" th:text="공개"></a></td>
        </tr>
    </table>



</body>
</html>