<!DOCTYPE html>
<html lang="en">


<head th:replace="common/head">
  <link rel="stylesheet" type="text/css" href="/css/mypage_new.css">
</head>




<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand" style="padding-top: 5px;"><img src="images/ecology.png"
            style="width: 40px;"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">MAIN</a></li>
          <li><a href="/mypage_new">MY PAGE</a></li>
          <li><a th:href="@{/signout}" th:if="${session.user != null}"><span class="glyphicon glyphicon-log-in"></span>
              [[${session.user.nickname}]]님 Logout</a></li>
          <li><a th:href="@{/signin}" th:unless="${session.user != null}"><span
                class="glyphicon glyphicon-log-out"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>




  <!-- Container (Portfolio Section) -->
  <div id="campaign" class="container-fluid text-center bg-grey">
    <h2>MY PAGE</h2><br>
    <h4>플로깅 피드들</h4>

    <!-- <div class="row text-center slideanim"> -->
    <div>
      <div class="col-sm-4" th:each="act : ${list}">
        <div class="thumbnail">
          <img th:src="@{/nawarapic(id=${act.id})}" style="width: auto;" onerror="this.src='/images/runday2.jpg'"
            alt="run2">
          <div class="panel-body">
            <p th:text="${#dates.format(act.createDate, 'yyyy-MM-dd HH:mm')}"></p>
            <strong>
              <p th:text="${act.actName}"></p>
            </strong>
            <p th:text="${act.actDistance}"></p>
            <p th:text="${act.actTime}"></p>
            <p th:text="${act.actMemo}"></p>
            <div class="panel-heading">좋아요|댓글<br>
              <a th:href="@{mapline(actid=${act.Id})}">
                <b th:text="경로보기"></b>
              </a>&nbsp&nbsp&nbsp&nbsp
              <strong th:if="${act.visibility == 0}"> <a th:href="@{/visibility(id=${act.id})}">[✨ 비공개 ]</a></strong>
              <strong th:unless="${act.visibility == 0}"> <a th:href="@{/visibility(id=${act.id})}">[✨ 공개 ]</a></strong>
              <a th:href="@{/delete_activity(id=${act.id})}">&nbsp&nbsp&nbsp&nbsp삭제하기</a>


            </div>
          </div>
        </div>
      </div>
    </div>



  </div>




  <br><br>


  <div class="container" style="display:flex; justify-content:center;">

    <button type="button" class="btn btn-default btn-lg" onclick="location.href='user_info/update'">회원정보수정</button>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">탈퇴하기</button>

  </div>

  <!-- The Modal -->
  <div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog ">

      <!-- Modal Header -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">탈퇴하시겠습니까?</h4>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div th:replace="deleteaccount"></div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <br><br>



  <div th:replace="common/contact"></div>

  <footer class="container-footer text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
  </footer>

  <script>
    $(document).ready(function () {
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage']").on('click', function (event) {
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 900, function () {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });

      $(window).scroll(function () {
        $(".slideanim").each(function () {
          var pos = $(this).offset().top;

          var winTop = $(window).scrollTop();
          if (pos < winTop + 600) {
            $(this).addClass("slide");
          }
        });
      });
    })
  </script>

</body>

</html>