<!DOCTYPE html>



<form action="/signup" method="post">
	이메일:<input type="text" name="email" placeholder="Email"/><br>
	비밀번호:<input type="password" name="pwd" placeholder="this your password"/><br>
	닉네임:<input type="text" name="nickname" placeholder="Enter your full name"/><br>
	<input type="submit" value="전송"/>
</form>



<!-- <div class="container">
    <form id="signup" class="signup" action="/signup" method="post">
            <li>
                <span><label for="name">Hi, What is your Name?</label></span>
                <input class="active" id="name" name="name" type="text" placeholder="Enter your full name" autofocus/>
            </li>
            <li>
                <span><label for="email">Enter you email</label></span>
                <input id="email" name="email" type="text" placeholder="Email"  autofocus/>
            </li>
            <li>
                <span><label for="password">Choose a password</label></span>
                <input id="viewpswd" name="password" type="text" placeholder="this your password"/>
                <input id="password" name="password" type="password" placeholder="make sure you dont forget" autofocus/>
                <span id="show-pwd" class="view"></span>
            </li>      
    </form>
<h1 id="wf" style="opacity:0;width: 600px; margin-top:1.1em;display:none; margin-bottom:1em">Thank you</h1> -->