<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">

    <title>로그인/회원가입</title>

    <link href="css/sign.css" rel="stylesheet">

</head>

<body>
    <div id="jwrap">
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="/signup" method="post">
                    <h1>회원가입</h1>
                    <div class="social-container">
                        <a href="#" class="social"><img src="images/twitter-circled-100.png" alt="" width="50px"></a>
                        <a href="#" class="social"><img src="images/google-100.png" alt="" width="47px"></a>
                        <a href="#" class="social"><img src="images/instagram-100.png" alt="" width="50px"></a>
                    </div>
                    <p id="result">[------------------]</p>
                    <input type="email" class="form-control" name="email" id="email" placeholder="이메일" />
                    <input type="text" name="nickname" placeholder="닉네임" />
                    <input type="password" name="pwd" placeholder="비밀번호" />
                    <input type="password" placeholder="비밀번호 확인" />
                    <button>회원가입</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="/signin" method="post">
                    <h1>로그인</h1>
                    <div class="social-container">
                        <a href="#" class="social"><img src="images/twitter-circled-100.png" alt="" width="50px"></a>
                        <a href="#" class="social"><img src="images/google-100.png" alt="" width="47px"></a>
                        <a href="#" class="social"><img src="images/instagram-100.png" alt="" width="50px"></a>
                    </div>
                    <input type="email" name="email" placeholder="이메일" />
                    <input type="password" name="pwd" placeholder="비밀번호" />
                    <a href="#">비밀번호를 잊으셨나요?</a>
                    <button>로그인</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>어서오세요~</h1>
                        <p>로그인을 할까 말까~ 고민될때는 로그인!</p>
                        <button class="ghost" id="signIn">로그인</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>반가워요~</h1>
                        <p>아직 회원이 아니신가요? 회원가입 할까 말까?</p>
                        <button class="ghost" id="signUp">회원가입</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="http://unpkg.com/axios/dist/axios.min.js"></script>


    <script>
        const emailForm = document.querySelector("#email");
        emailForm.addEventListener("keyup", () => {

            const email = document.querySelector("#email").value;
            const data = axios({
                url: 'user/check',
                method: 'get',
                params: {
                    'email': email
                }
            });
            data.then(function (result) {
                if (result.data != "") {
                    document.querySelector("#result").innerHTML = "이미 존재하는 Email 입니다! 😔"
                } else {
                    document.querySelector("#result").innerHTML = "사용 가능합니다! 😊"
                }
            });
        });

    </script>

    
</body>

</html>