<!DOCTYPE html>


<head>

  <meta charset="UTF-8">
  <title>PLOGGING</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/sign2.css" rel="stylesheet">
  <script src=https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js></script>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js></script>
  <script src=https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js></script>
  <link rel="shortcut icon"
    href="https://cdn-icons.flaticon.com/png/128/2391/premium/2391092.png?token=exp=1654523299~hmac=883039fe929538c756aa4bd0ff44e780">
</head>
<script>
  if ('[[${signinres}]]' == 'fail') {
    alert("이메일 또는 비밀번호 입력이 잘못되었습니다.")
  }
</script>

<body>

  <div class="content">
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#aaa">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#bbb">회원가입</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div id="aaa" class="container tab-pane active">
        <form action="/signin" method="post" class="was-validated">
          <div class="form-group">

            <div class="welcome plogging" style="display: flex; justify-content: center;">
              <a href="/" style="text-decoration: none; color: black;"><img src="images/ecology.png" style="width: 40px;">
              <h3 style="display: inline-block;">Let's Plogging !</h3></a>
            </div><br>

            <label for="exampleFormControlInput1">이메일 주소</label>
            <input name="email" type="email" class="form-control" id="exampleFormControlInput1"
              placeholder="name@example.com" required>
            <div class="valid-feedback">💚</div>
            <div class="invalid-feedback">이메일을 입력해주세요.</div>
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">비밀번호</label>
            <input name="pwd" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
              required>
             <div class="valid-feedback">💚</div>
            <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <button type="submit" class="btn btn-dark">로그인</button>
        </form>
      </div>


      <div id="bbb" class="container tab-pane fade">
        <form action="/signup" method="post" class="was-validated">
          <div class="form-group">
            <label for="InputName">닉네임</label>
            <input name="nickname" type="text" class="form-control" id="InputName" placeholder="Nick Name" required>
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="emailck">이메일 주소</label>
            <input name="email" type="email" class="form-control" id="emailck"
              placeholder="name@example.com" required>
            <small id="emailHelp" class="form-text text-muted"><div id="emailcheck"></div></small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">비밀번호</label>
            <input name="pwd" type="password" class="form-control" id="uppass" placeholder="Password" required>
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="exampleInputPasswordVer">비밀번호 확인</label>
            <input type="password" class="form-control" id="uppasschk" placeholder="Password" required>
            <p id="aazz"></p>
          </div>
          <button type="submit" class="btn btn-dark">가입하기</button>
        </form>
      </div>
    </div>
  </div>


</body>


<script src="http://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const emailForm = document.getElementById("emailck");
  emailForm.addEventListener("input", () => {

      const email = document.querySelector("#emailck").value;
      const data = axios({
          url: 'user/check',
          method: 'get',
          params: {
              'email': email
          }
      });
      data.then(function (emailcheck) {
          if (emailcheck.data != "") {
              document.querySelector("#emailcheck").innerHTML = "이미 존재하는 email입니다."
          } else {
              document.querySelector("#emailcheck").innerHTML = "사용가능한 email입니다."
          }
      });
  });

</script>

<script>

  const uppass = document.getElementById("uppass");
  const uppasschk = document.getElementById("uppasschk");


  uppasschk.addEventListener("keyup", () => {

    if (uppass.value == uppasschk.value) {
      document.getElementById("aazz").innerText = '[💚 입력한 비밀번호와 일치합니다. ]';
    } else {
      document.getElementById("aazz").innerText = '[💔 입력한 비밀번호와 일치하지 않습니다. ]';
    }

    uppass.addEventListener("keyup", () => {

      if (uppass.value == uppasschk.value) {
        document.getElementById("aazz").innerText = '[💚 입력한 비밀번호와 일치합니다. ]';
      } else {
        document.getElementById("aazz").innerText = '[💔 입력한 비밀번호와 일치하지 않습니다. ]';
      }

    });

  });


</script>